<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="author">
      <h2 data-cy="authorDetailsHeading"><span>Author</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ author.id }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span>{{ author.user?.id }}</span>
        </dd>
        <dt><span>Book</span></dt>
        <dd>
          <span *ngFor="let book of author.books; let last = last">
            <a [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/author', author.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
